{% extends 'dashboard/base.html' %}
{% block content %}
<div class="container-fluid">
<div class="row">
	<div class="col-md-6 col-sm-6">
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<header>Ajouter un produit</header>	
			</div>
			<div class="card-body " id="bar-parent">
				<form action="" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
            {% for fields in form %}
            <div class="form-group" id="formulaire" >
				<label for="simpleFormEmail">{{fields.label_tag}}</label>
                 <br>
                {{fields}}
            </div>
           {% endfor %}
					<!-- <div class="form-group">
						<label for="simpleFormEmail">Email address</label>
						<input type="email" class="form-control" id="simpleFormEmail" placeholder="Enter email address">
					</div>
					<div class="form-group">
						<label for="simpleFormPassword">Password</label>
						<input type="password" class="form-control" id="simpleFormPassword" placeholder="Password">
					</div>
					<div class="form-group">
						<div class="checkbox checkbox-icon-black">
							<input id="rememberChk1" type="checkbox" checked="checked">
							<label for="rememberChk1">
								Remember me
							</label>
						</div>
					</div> -->
					<button type="submit" class="btn btn-primary">Ajouter</button>
				</form>
			</div>
		</div>
	</div>
	
</div>
</div>
{% endblock %}