{% extends 'admin/main.html' %}
{% block content %}
<style>
    #pop_info{
        margin-right: 50%;

    }
   
</style>

<div class="mt-4 mb-4 p-3 bg-white border shadow-sm lh-sm">
    <!--Order Listing-->
    <div class="product-list">
        
        <div class="row border-bottom mb-4">
            <div class="col-sm-8 pt-2"><h6 class="mb-4 bc-header">Liste des commandes</h6></div>
            <div class="col-sm-4 text-right pb-3">
                
                <a href="{% url 'home' %} "><button class="btn btn-secondary"> Commander</button></a>
               

                <div class="clearfix"></div>
            </div>
        </div>
        
        <div class="table-responsive product-list">
            
            <table class="table table-bordered table-striped mt-0" id="productList">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Client</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for commande in commandes %}
                        <td>{{commande.id}}</td>
                        <td class="align-middle">
                           <a href="# " title="voir detail">{{commande.client.nom}}</a> 
                        </td>
                        <td class="align-middle">{{commande.etat_commande}}</td>
                        
                        <td class="align-middle text-center">
                           <a href="{% url 'commande_edit' commande.id %} "> <button class="btn btn-theme" data-toggle="modal" data-target="#orderInfo">
                                <i class="fa fa-eye"></i>
                            </button></a>
                        
                            <button class="btn btn-danger" data-toggle="modal" data-target="#orderUpdate{{commande.id}} "><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
    <!--/Order Listing-->
    <!--Order Update Modal-->
    {% for commande in commandes %}
    <div class="modal fade" id="orderUpdate{{commande.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Voulez-vous vraiment supprimer le commande#{{commande.id}}? </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'commande_delete' commande.id %}" method="POST">
                        {% csrf_token %}
                        <input class="btn  btn-danger" type="submit" name="confirmer"  value="OUI">
                    </form> 
               
                    <button type="button" class="btn btn-secondary" id="pop_info" data-dismiss="modal">NON</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--Order Update Modal-->


   
</div>
{% endblock %}