
{% load static %}
<!-- Header -->
<header class="header shop">
    <!-- Topbar -->
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-12">
                    <!-- Top Left -->
                    <div class="top-left">
                        <ul class="list-main">
                            <li><i class="ti-headphone-alt"></i> +228 70 23 62 01</li>
                            <li><i class="ti-email"></i> eshop@gmail.com</li>
                        </ul>
                    </div>
                    <!--/ End Top Left -->
                </div>
                <div class="col-lg-7 col-md-12 col-12">
                    <!-- Top Right -->
                    <div class="right-content">
                        <ul class="list-main">
                            <li><i class="ti-location-pin"></i> Lomé - Togo</li>
                            <li><i class="ti-alarm-clock"></i> <a >24h/24</a></li>
                            {% if user.is_authenticated %}
                            <li><i class="fa fa-power-off"></i> <a href="{% url 'quitter' %}">Se déconnecter</a></li>
                            {% else %}
                            <li><i class="ti-user"></i> <a href="{% url 'inscription' %}">Créer un compte</a></li>
                            <li><i class="ti-power-off"></i><a href="{% url 'access' %}">Connexion</a></li>
                            {% endif %}
                       </ul>
                    </div>
                    <!-- End Top Right -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->
    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    
                    <!-- Logo -->
                    <div class="logo">
                        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
                    </div>
                    <!--/ End Logo -->
                    <!-- Search Form -->
					<div class="search-top">
                       
						<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
						    <div class="search-top">
								<form class="search-form" action="{% url 'search' %} ">
									<input type="search" placeholder="Rechercher..." name="q">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->   
                            <div class="col-lg-2 col-md-3 col-12 col-sm-12 col-xs-10">
                               
                                    <!-- Search Form -->
                                    <div class="sinlge-bar shopping">
                                        <a href="{% url 'panier' %}" class="single-icon"><img src="{% static 'images/panier.png' %}" alt="logo" height="8px" width="20px">
                                        <span class="total-count" id="cartItems">{{cartItems}}</span> </a>
                                        <!-- Shopping Item -->
                                        <!--/ End Shopping Item -->
                                    </div>
                                
                            </div>
					</div>
					<!--/ End Search Form -->
                    
				<div class="mobile-nav"></div>
                </div>
                
                <div class="col-lg-8 col-md-7 col-12">
                    <div class="search-bar-top">
                    
                    {% include 'base/search.html' %}
                    {% if request.path == '/' or  request.path == '/produits' or request.path == '/search' %}
                    {% endif %}
                    </div>
                </div>
               
                <div class="col-lg-2 col-md-3 col-12">
                    <div class="right-bar">
                        <!-- Search Form -->
                        <div class="sinlge-bar shopping">
                            <a href="{% url 'panier' %}" class="single-icon"><img src="{% static 'images/panier.png' %}" alt="logo" height="20px" width="40px">
                            <span class="total-count" id="cartItems">{{cartItems}}</span> </a>
                            <!-- Shopping Item -->
                            <!--/ End Shopping Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">

                    <div class="col-lg-10 col-12">
                        <div class="menu-area">
                            <!-- Main Menu -->
                            <nav class="navbar navbar-expand-lg">
                                <div class="navbar-collapse">	
                                    <div class="nav-inner">	
                                        <ul class="nav main-menu menu navbar-nav">
                                                <li class=" ml-4" style="margin-left: -1px;"><a href="{% url 'home' %}">Accueil</a></li>
                                                <li><a href="{% url 'produits' %}">Produits</a></li>
                                                <!--												
                                                </ul>
                                                <li><a href="#">Acheter<i class="ti-angle-down"></i></a>
                                                    <ul class="dropdown">
                                                        <li><a href="cart.html">Cart</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                    </ul>
                                                </li>
                                               									
                                                <li><a href="#">Blog<i class="ti-angle-down"></i></a>
                                                    <ul class="dropdown">
                                                        <li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
                                                    </ul>
                                                </li> -->
                                               
                                                <li><a href="{% url 'vendeur_index' %}"> Vendeur</a></li>
                                             
                                                <li><a href="{% url 'apropos' %}"> A propos</a></li>
                                                
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!--/ End Main Menu -->	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>

<!--/ End Header -->