{% extends 'dashboard-admin/main.html' %}
{% block title %} users{% endblock%}
{% block content %}
<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-10">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.username}}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'dashboard_update_user' user.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#orderUpdate{{user.id}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-2" style="text-decoration: none;">
            
           <a href="{% url 'dashboard_create_user' %}"><button class="btn btn-secondary">Ajouter user</button></a>
            
        </div>
    </div>
</div>

{% for user in users %}
<div class="modal fade" id="orderUpdate{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Voulez-vous vraiment supprimer la user#{{user.id}}? </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer " >
                <form action="{% url 'dashboard_delete_user' user.id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn  btn-danger " type="submit" name="confirmer"  value="OUI">
                </form> 
           
                <button type="button" style="margin-left: 50px; margin-right: 150px;" class="btn btn-secondary " id="pop_info" data-dismiss="modal">NON</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}